/* Add your CSS styles here */
body{
    /* background: pink; */
}

nav{
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px;
  border-bottom: 2px inset black;
}

.navbar{
  width: 100%;
  text-align: center;
}

.navbar a{
  text-decoration: none;
  padding: 10px;
  font-size: 1.1em;
}

.navbar a:hover{
  color: #eaa0a2;
  text-decoration: underline;
}

.navbar a.active{
  color: #c5aa6a;
}

.navbar a.active:hover{
  color: gold;
}
