/* Add your CSS styles here */
body{
    /* background: pink; */
}

/* navbar */
nav{
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px;
  border-bottom: 2px inset black;
}

.navbar{
  width: 100%;
  text-align: center;
}

.navbar a{
  text-decoration: none;
  padding: 10px;
  font-size: 1.1em;
}

.navbar a:hover{
  color: #eaa0a2;
  text-decoration: underline;
}

.navbar a.active{
  color: #c5aa6a;
}

.navbar a.active:hover{
  color: gold;
}

/* index  */

.index-page h1#title{
  text-align: center;
  font-size: 2.8em;
}

/* questions views */
/* questions-index page */

.index-questions h1#title{
  text-align: center;
  font-size: 2.8em;
}

.btn{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn{
  color: red;
  background: inherit;
  border: red 2px solid;
}

.delete-btn a{
  text-decoration: inherit;
  color: inherit;
}

.delete-btn:hover{
  background: red;
  color: white;
  text-decoration: underline;
}

.add-btn{
  border: #0080c0 2px solid;
  color: #0080c0;
  background: inherit;
}

.add-btn a{
  text-decoration: inherit;
  color: inherit;
}

.add-btn:hover{
  background: #0080c0;
  color: white;
  text-decoration: underline;
}

.index-questions-table{
  margin-left: 10%;
}

.index-questions-table tr td{
  padding: 5px;
}

.index-question-table-title{
  padding: 6px;
  text-decoration: none;
  color: black;
}

.index-question-table-title a{
  color: inherit;
  text-decoration: inherit;
}

.index-question-table-title:hover{
  color: #0080ff;
  text-decoration: underline;
  font-style: italic;
}

/* new form questions  */

.new-form-questions h1#title{
  text-align: center;
  font-size: 2.8em;
}

.new-question-form{
  width: 70%;
  margin-left: 15%;
  border: inset 1px black;
  border-radius: 7px;
  padding: 20px;
}

.new-question-form input[type='text']{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-bottom: outset black 2px;
  outline: none;
  cursor: text;
}

.submit-btn{
  color: #42a636;
  border: solid 2px #42a636;
  background: white;
}

.submit-btn:hover{
  color: white;
  background: #42a636;
}

.new-question-form input[type='submit']{
  margin-left: 30%;
  width: 35%
}
