/* Add your CSS styles here */
body{
    /* background: pink; */
}

:root{
  --blue: #0080c0;
  --light-blue: #0080ff;
  --green: #42a636;
}

/* navbar */
header{
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px;
  border-bottom: 2px inset black;
  background: rgba(255, 255, 255, .7);
}

.navbar{
  width: 100%;
  text-align: center;
}

.navbar a{
  text-decoration: none;
  padding: 10px;
  font-size: 1.1em;
}

.navbar a:hover{
  color: #eaa0a2;
  text-decoration: underline;
}

.navbar a.active{
  color: #c5aa6a;
}

.navbar a.active:hover{
  color: gold;
}

/* index  */

.index-page h1#title{
  text-align: center;
  font-size: 2.8em;
}

/* questions views */
/* questions-index page */

.index-questions h1#title, .question-detail h1#title{
  text-align: center;
  font-size: 2.8em;
}

.btn{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn{
  color: red;
  background: inherit;
  border: red 2px solid;
}

.delete-btn a{
  text-decoration: inherit;
  color: inherit;
}

.delete-btn:hover{
  background: red;
  color: white;
  text-decoration: underline;
}

.add-btn{
  border: var(--blue) 2px solid;
  color: var(--blue);
  background: inherit;
}

.add-btn a{
  text-decoration: inherit;
  color: inherit;
}

.add-btn:hover{
  background: var(--blue);
  color: white;
  text-decoration: underline;
}

.index-questions-table{
  margin-left: 10%;
}

.index-questions-table tr td{
  padding: 5px;
}

.index-question-table-title{
  padding: 6px;
  text-decoration: none;
  color: black;
}

.index-question-table-title a{
  color: inherit;
  text-decoration: inherit;
}

.index-question-table-title:hover{
  color: var(--light-blue);
  text-decoration: underline;
  font-style: italic;
}

/* new form questions  */

.new-form-questions h1#title, .new-form-choice h1#title{
  text-align: center;
  font-size: 2.8em;
  margin-top: 25px;
}

.new-question-form, .new-choice-form, .new-choice-detail-form{
  width: 70%;
  margin-left: 15%;
  border: inset 1px black;
  border-radius: 7px;
  padding: 20px;
}

.new-question-form input[type='text'], .new-choice-form input[type='text'], .new-choice-detail-form input[type='text']{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-bottom: outset black 2px;
  outline: none;
  cursor: text;
  text-align: center;
}

.submit-btn{
  color: var(--green);
  border: solid 2px var(--green);
  background: white;
}

.submit-btn:hover{
  color: white;
  background: var(--green);
}

.new-question-form input[type='submit'], .new-choice-form input[type='submit'], .new-choice-detail-form input[type='text']{
  margin-left: 30%;
  width: 35%
}

/* detail page */
.new-choice-detail{
  display: none;
  padding: 20px;
  width: 100%;
  margin: 5px;
}

.hide-new-choice-btn{
  margin-left: 10%;
  width: 25%;
  color: var(--light-blue);
  border: 2px outset var(--light-blue);
  background: white;
}

.hide-new-choice-btn:hover{
  color: white;
  background: var(--light-blue);
}

.question-detail-table, .question-detail-table th, .question-detail-table td{
  border-collapse: collapse;
  padding: 6px;
  text-align: center;
  border: inset 2px black;
}

.question-detail-table{
  width: 70%;
  margin-left: 10%;
  margin-top: 20px;
}


/* choices */
/* create choice page */

.new-form-choice p#question-text, .question-detail p#question-text{
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 2.5em;
}

.new-form-choice p#question-text:hover, .question-detail p#question-text:hover{
  text-decoration: underline;
  font-style: italic;
  color: var(--light-blue);
  font-size: 2em;
}